version: '3'
services:
  apache-php:
    build:
      context: .  # Current directory, where your Dockerfile is located
    container_name: PXL
    ports:
      - "8443:443"
    volumes:
      - ./app:/var/www/html
    networks:
      my_custom_network:
        ipv4_address: 172.18.0.20
      

  evilginx2:
    build:
      context: .  
      dockerfile: Dockerfile.evilginx2
    container_name: PXL-EVIL
    command: /bin/bash -l  
    stdin_open: true       
    tty: true       
    volumes:
      - ./phishlets:/evilginx2/phishlets 
    ports:
      - "8080:8080"
      - "443:443"
    networks:
      my_custom_network:
        ipv4_address: 172.18.0.10
    extra_hosts:
      - "ins.pxl.local:172.18.0.20" 
      - "pxl.local:172.18.0.20"

networks:
  my_custom_network:
    driver: bridge
    ipam:
      config:
        - subnet: "172.18.0.0/16"
